

.rotation90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  html{
    scroll-behavior: smooth;
}

.listUnstyles{
    list-style: none;
    margin: 0;
    padding: 0;
}

button{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
}

.no__scroll {

   overflow: hidden;
}
