.titre__article {
    font-family: var(--font-main__bold);
    font-size: var(--article---titre);
    color: var(--noir);
    font-weight: 900;

    
}

.deco__title__article1 {
position: absolute;
width: 340px;
height: 13px;
left: 7px;
top: 147px;
background: rgba(58, 146, 184, 0.88);
z-index: -1;
}


.deco__title__article1__EN {
    position: absolute;
width: 270px;
height: 13px;
left: 7px;
top: 150px;
background: rgba(58, 146, 184, 0.88);
z-index: -1;
}


.logo__olympe {
    margin-bottom: -10px;
}


.deco__title__article2_A {
    z-index: -1;
position: absolute;
width: 194px;
height: 13px;
left: 6px;
top: 145px;
background: rgba(58, 146, 184, 0.88);
}

.deco__title__article2_A__EN {
    z-index: -1;
position: absolute;
width: 300px;
height: 13px;
left: 8px;
top: 145px;
background: rgba(58, 146, 184, 0.88);
}




.deco__title__article2_B {
z-index: -1;
position: absolute;
width: 335px;
height: 13px;
left: 10px;
top: 181px;
background: rgba(58, 146, 184, 0.88);
}



.deco__title__article2_B__EN {
z-index: -1;
position: absolute;
width: 285px;
height: 13px;
left: 7px;
top: 182px;
background: rgba(58, 146, 184, 0.88);
}



.deco__title__article2_C {
z-index: -1;
position: absolute;
width: 120px;
height: 13px;
left: 4px;
top: 218px;
background: rgba(58, 146, 184, 0.88);
}

.deco__title__article3_A {
z-index: -1;
position: absolute;
width: 248px;
height: 13px;
left: 6px;
top: 145px;
background: rgba(58, 146, 184, 0.88);
}

.deco__title__article3_A__EN {
z-index: -1;
position: absolute;
width: 298px;
height: 13px;
left: 6px;
top: 145px;
background: rgba(58, 146, 184, 0.88);
}



.deco__title__article3_B {
z-index: -1;
position: absolute;
width: 110px;
height: 13px;
left: 6px;
top: 180px;
background: rgba(58, 146, 184, 0.88);
}


.deco__citation {
    position: relative;
    left: 20px;
    top: 2px;
    margin-top: 12px;
    
}




.citation__line1 {
    position: relative;
    left: 28px;
    top: -35px;
    font-family: var(--font-main);
    font-size: 15px;
    font-style: italic;
}



.citation__line1__EN {
    width: 80%;
      position: relative;
    left: 28px;
    top: -48px;
    font-family: var(--font-main);
    font-size: 15px;
    font-style: italic;
    margin-bottom: -20px;
}

.citation__line2 {
    position: relative;
    left: 30px;
    top: -38px;
    margin-bottom: -40px;
}





.citation__line2,
.citation__line1,
.text__italic {
    font-family: var(--font-main);
    font-size:var(--article--texte);
    margin: 0.1em;
    font-style: italic;

}



.undertitle__article {
    font-family: var(--font-main);
    font-size:var(--article--soustitre);
    font-weight: 900;
    margin-top: 20px;
    margin-bottom:-8px ;
}


.article-text {
    font-family: var(--font-main);
    font-size:var(--article--texte);

}

.other__articles {
    font-family: var(--font-main);
    font-size:var(--article--autres-articles);
}
 
ul.normal{
     font-family: var(--font-main);
    font-size:var(--article--texte);
    
} 
li {
    margin-left: -25px;
    margin-top: 7px;
    margin-bottom: 7px;
}

/*Définit les puces des listes à puces */
li::marker {
    color: var(--bleu);
}

figcaption {
    text-align: center;
    font-family: var(--font-main);
    font-size: 11px;   
}


.fleche__article__footer 
 { 
z-index: 2;
transform: matrix(-0.96, 0.22, -0.27, -0.97, 0, 0);
position: relative;
left: 0x;
bottom: 22px;
width: 20%;
transform: rotate(180.5deg);
}

/*Définit l'espace entre la section "autres articles" et l'article */
.other__article__space {
    padding-top: 42px;
}

/*.deco__otherarticle__article2, <- A supprimer */  
.deco__otherarticle__article1 {
    z-index: -1;
    width: 94.83px;
    height: 5.35px;
     position: relative;
    left: -2px;
    top: -20px;
    /* Bleu */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #127098;
}





.articles__otherarticle__design { 
font-family: var(--font-main);
font-size:var(--article--texte);
color: var(--noir);
}



.other__article__footer /*Supprime le design p)ar défaut des liens à l'interieur de la section "autres articles"*/
a:link {
  text-decoration: none;
  
}

.color__a__article {
    color: var(--noir);
    font-weight: 800;
}
   

.design__link__otherarticle {
   font-family: var(--font-main);
   font-size: var(--article--autres-articles);
   color: var(--noir);
  text-decoration: none;
}


.other__article__space__arrow{
    margin-top: -20px;
}



.other__article__footer{
    position: relative;
top: -18px; left: 25px;
}

.article__deco__li__footer{
    z-index: 2;
    position: relative;
width: 8px;
height: 8px;
left: -40px;
top: 20px;
background: #127098;
}

.fleche__article__ada{
    width: 44px;
height: 44px;
position: relative;
left: 270px;
top: -5px;
transform: rotate(1deg);
}

.article__invitation__galerie{
    font-family: var(--font-main);
   font-size: 12px;
   font-weight: 700;
   font-style: italic;
   position: relative;
    left: 270px;
    top: -30px;
}


.article__invitation__galerie__EN{
    font-family: var(--font-main);
   font-size: 12px;
   font-weight: 700;
   font-style: italic;
   position: absolute;
    left: 280px;
    top: 1010px;
}






.article__deco__invitation__galerie {
    z-index: -1;
    position: relative;
    width: 35px;
    height: 4px;
    left: 274px;
    top: -54px;
    /* Bleu */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)), #127098;
}



.article__deco__invitation__galerie__EN {
    z-index: -1;
    position: absolute;
    width: 35px;
    height: 4px;
    left: 284px;
    top: 1040px;
    /* Bleu */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)), #127098;
}



/*IMAGES*/

.article__image__Dominique,
.article__image__Ada,
.article__image__Margaret{
display: block;
    margin-left: auto;
    margin-right: auto 
}

.article__image__Margaret{
    width: 220.23px;
    height: 402px; }

.article__image__Ada{
  width: 339px;
height: 299px;
}


.article__image__Dominique {
margin-top: 20px;
width: 339px;
height: 273px;
}

.article__image__feministes {
    margin-top: 20px;
    width: 336px;
    height: 249px;
}