h1 {
    font-family: var(--font-main);
    font-size: var(--titre_pages);
    position: relative;
    left: 94px;
    top: -25px;
    margin-bottom: -10px;
    width: 50%;
}

h2 {  font-family: var(--font-main);
    font-size: 20px;
    font-weight: 400;
     position: relative;
    top: -40px;  
    left: 10px;
}

.deco__title__glossaire{
     position: relative;
width: 5px;
height: 30px;
left:  84px;
top: -50px;
background: #127098;
}


.deco__undertitle__glossaire__A
{ 
position: relative;
width: 3px;
height: 260px;
left:  140px;
top: -182px;
background: #127098;
transform: rotate(-90deg);
}

.deco__undertitle__glossaire__B {
    
position: relative;
width: 4px;
height: 24px;
left:  3px;
top: -335px;
background: #127098;
}


p { font-family: var(--font-main);
    font-size: var(--glossaire--lettre);
    position: relative;
    left: 10px;
    top: -3px;
    color: var(--blanc);
}


dt {font-family: var(--font-main);
    font-size: var(--glossaire--lettre);
   box-sizing:border-box;
    color: var(--blanc);



}

dd {
    font-family: var(--font-main);
    font-size: var(--glossaire---def-mots);
    padding-bottom: 30px;
    font-weight: 700;
    position: relative;
    top: 5px;
    margin-bottom: -25px;
  

}

.deco__letters__square {
    z-index: -1;
position: relative;
left: 0px;
top: -41px;
width: 30px;
height: 30px;
background: #127098;
}

.deco__letters__line {
     z-index: -1;
     position: relative;
left: 4.3px;
top: -46px;
width: 21px;
height: 2px;
background: var(--blanc);
}


/*decoration des mots du glossaires */ 
.deco__words__size0{
    width: 55px;
}

.deco__words__size0-5{
    width: 70px;
}

.deco__words__size1 {
width: 80px;
}

.deco__words__size2 {
width: 90px;
}

.deco__words__size3 {
width: 105px;
}

.deco__words__size4 {
width: 115px;
}

.deco__words__size5 {
width: 125px;
}

.deco__words__size6 {
width: 135px;
}

.deco__words__size7 {
width: 180px;
}

.deco__words__size8 {
width: 200px;
}


.deco__words__size__max{
width: 100%
}

.deco__words__size__min{
width: 10%
}

.deco__words__size__min,
.deco__words__size__max,
.deco__words__size7,
.deco__words__size6,
.deco__words__size5,
.deco__words__size4,
.deco__words__size3,
.deco__words__size2,
.deco__words__size1,
.deco__words__size0-5,
.deco__words__size0,
.deco__words{
       z-index: -1;
    position: relative;
left: -5px;
top: 20px;
background: #127098;
border-radius: 16.9565px;
height: 20px;
}

