#nav__toggle {
    position: absolute;
    background-color: var(--bleu);
    z-index: 10;
    height: 90vh;
    width: 100vw;
    margin-top: -10px;
    margin-left: -8px;
    transform: translateX(-100vw);
    transition: all 1.2s ease-in-out;
  
}

.actif {
transform: translateX(0)  !important ;

}



.li__nav__design {
    font-size: 25px;
    font-family: var(--font-main);
    color: var(--blanc);
    position: relative;
    left: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
  
}

a.li__nav__link__article,
a.li__nav__link:link
{    text-decoration: none;}


.li__nav__link__article {
   font-size: 18px;
    font-family: var(--font-main);
    color: var(--blanc);
    position: relative;
    left: 70px;
top: -15px;
    font-weight: 700;  
 }

 .li__nav__design__article {
          width: 95%;
          
              
 }

.li__nav__icone {
    position: relative;
    top: 30px;
    z-index: 5;
}

.li__nav__icone__article {
    width: 36px;
     position: relative;
    left: -10px;
       top: 65px;
}


.button__nav {
border: 0px;
background-color: var(--bleu);
}   /*permet de supprimer le design par defaut du bouton*/ 


.button__nav__2 {
    border: 0px;
background-color: var(--blanc);
}


.li__nav__design__article__decoA {
    
position: absolute;
width: 236px;
height: 2.4px;
left: 86px;
top: 170px;
background: var(--blanc);
}

.li__nav__design__article__decoB {
    
position: absolute;
width: 106px;
height: 2.4px;
left: 24px;
top: 240px;

background: var(--blanc);
transform: rotate(-90deg);
}


.li__nav__logo {
    position: relative;
    top: 15px;
    left: 25px;    
}




/*
#nav__menu {
    transform: rotateX(45deg);
} */ 


