
.hero__subtitle{
    font-family: var(--font-main);
}


.hero__intro{
font-family: var(--font-main);
white-space: normal;
font-style: var(--acceuil--intro_articletweet_article);
text-align: start;
margin: var(--space1x);
}




.hero__tagline {
    font-family: var(--font-main);
    font-size: var(--acceuil--tagline);
    font-style: italic;
    text-align: center;
}


.hero__logo {
    display: block;
    margin-left: auto;
    margin-right: auto ;
    padding-bottom: 0px;
    position: relative;
    top: 20px;
   
    
}


