
.article__arrow{
position: absolute;
width: 63px;
height: 25px;
left: 288px;
top: 756px;
}


/*Fleche indiquant la galerie sur la page d'acceuil*/
.article__arrow_galerie
 { z-index: 2;
transform: matrix(-0.96, 0.22, -0.27, -0.97, 0, 0);
position: absolute;
left: 19.82%;
right: 53.35%;
top: 108em;
bottom: 10.41%;

width: 20%;
}


/*Fleche indiquant la frise sur la page d'acceuil*/
.article__arrow_Frise 
{ z-index: 2;
transform: matrix(1, -0.01, -0.01, -1, 0, 0);
position: absolute;
left: 39.82%;
right: 43.35%;
top: 124em;
bottom: 10.41%;
width: 25%;
}




.button__footer
  {
  font-size: var(--footer--bouton);
  background-color: var(--blanc);
box-sizing:border-box;
border: 2.5px solid var(--bleu); 
border-radius: 15px;
 margin-left: 24px;
  margin-right:auto;
  }


  .button__header__menu,
  .button__header__EN {
background-color: white;
border: white;
color: white;
  }


.button__header__EN {
position: absolute;
width: 53px;
height: 30.59px;
left: 270px;
top: 29px;

  }

.button__header__menu {
position: absolute;
width: 50px;
height: 50px;
left: 312px;
top: 26px;
  }


.logo__simple {
position: relative;
width: 78.52px;
height: 86px;
left: 5px;
top: 22px;

  }


  .logo__linkedin {
    position: absolute;
    height: 31px;
width: 31.3px;
left: 257px;
top: 983px;

  }

    /* position: absolute;
left: 69.87%;
right: 21.79%;
top: 82.25%;
bottom: 15.14%; */


.button__categoriefeministe {
  font-size: var(--galerie--bouton);
  background-color: var(--bleu);
box-sizing:border-box;
border-radius: 5px;
 margin-left: 20px;
 text-align: center;
  }
