
.button__menu__etat-normalA {
position: absolute;
top: 5.4px;
left: 318px;
width: 6.2px;
height:  35px;
background: var(--noir);
border-radius: 25px;
transform: rotate(-90deg);
}

.button__anglais {
  position:absolute;
  top: 15px;
  left: 0px;
}

.button__menu__etat-normalB {
position: absolute;
left: 318px;
top: 24.4px;
width: 6.2px;
height: 35px;
background: var(--noir);
border-radius: 25px;
transform: rotate(-90deg); 
}

.button__menu__casseB {
position: absolute;
left: 339px;
top: 28px;
width: 6.2px;
height: 35.5px;
background: var(--noir);
border-radius: 35px;
 }


.button__menu__casseA {
width: 7px;
height: 35px;
top: 28px;
background:var(--noir);
border-radius: 25px; 
position: absolute;
left: 318px;
}


.article__arrow{
position: absolute;
width: 63px;
height: 25px;
left: 288px;
top: 756px;
}


/*Fleche indiquant la galerie sur la page d'acceuil*/
.article__arrow_galerie
 { z-index: 2;
transform: matrix(-0.96, 0.22, -0.27, -0.97, 0, 0);
position: absolute;
left: 19.82%;
right: 53.35%;
top: 109em;
bottom: 10.41%;

width: 20%;
}


/*Fleche indiquant la frise sur la page d'acceuil*/
.article__arrow_Frise 
{ z-index: 2;
transform: matrix(1, -0.01, -0.01, -1, 0, 0);
position: absolute;
left: 39.82%;
right: 43.35%;
top: 125.5em;
bottom: 10.41%;
width: 25%;
}





.button__footer
  {
  font-size: var(--footer--bouton);
  background-color: var(--blanc);
box-sizing:border-box;
border: 2.5px solid var(--bleu); 
border-radius: 15px;
 margin-left: 24px;
  margin-right:auto;
  }


  .button__header__menu,
  .button__header__EN {
background-color: white;
border: white;
color: white;
  }


.button__header__EN {
position: absolute;
width: 53px;
height: 30.59px;
left: 270px;
top: 29px;

  }

.button__header__menu {
position: absolute;
width: 50px;
height: 50px;
left: 312px;
top: 26px;
  }


.logo__simple {
position: relative;
width: 78.52px;
height: 86px;
left: 5px;
top: 22px;

  }


  .logo__linkedin {
    position: absolute;
    height: 31px;
width: 31.3px;
left: 257px;
top: 983px;

  }

    /* position: absolute;
left: 69.87%;
right: 21.79%;
top: 82.25%;
bottom: 15.14%; */


.button__categoriefeministe {
  font-size: var(--galerie--bouton);
  background-color: var(--bleu);
box-sizing:border-box;
border-radius: 5px;
 margin-left: 20px;
 text-align: center;
  }


  .arrow__404 {
    width: 15%;
    height: 15%;
   position: relative;
   left: 180px; 
   top:-15px
   
  } 